*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
}
#box{
    width: 50%;
    /* height: 400px; */
    box-shadow: 0px 0px 5px rgb(218, 237, 229);
    border-radius: 6px;
    background-color: white;
    padding: 8px;
}
.row{
    margin: 12px;
    margin-left: 0;
}
.end{
    background-color: rgb(81, 6, 151);
    color: white;
   border-top-right-radius: 8px;
   border-top-left-radius: 8px;
   padding: 20px;
  
text-align: center;
}

.correct{
    color: white;
    background-color: blueviolet;
 border-bottom-right-radius: 8px;
 border-bottom-left-radius: 8px;
 display: flex;
justify-content: center;
padding-bottom: 10px;
font-size: 1.8rem;

}
.btn{
  margin-left: 50%;
  padding: 4px 6px;
  background-color: rgb(156, 43, 226);
  font-weight: 600;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
 
}
.rightwrong{
    /* position: relative; */

   margin-bottom: 10px;
    /* position: absolute;
    top: 70px;
    left: 280px; */
    display: none;
}
.daba{
    width: 140px;
    height: 60px;
    background-color: rgb(21, 254, 52);
    border-radius: 8px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
  
}
@media only screen and (max-width:890px){
    #box{
        width: 98%;
    }
    #QusBox{
        font-size: 1.2rem;
        font-weight: 600;
    }
}